<h3>Registry</h3>
<p>We are registered with:<br/>
<%= link_to 'HP Arts pottery','http://hp-arts.com/hp-arts.com/Wedding_Registries.html',:target => '_blank' %>: Heather Price is a friend of ours who is a potter. She is making a set of dishes for us. Check out her website to view some of her work and find out about ordering: <%= link_to 'hp-arts.com','http://hp-arts.com/hp-arts.com/Wedding_Registries.html',:target => '_blank' %><br/>
<%= link_to 'Amazon',"http://www.amazon.com/registry/wedding/34SR6LY15ER40",:target => '_blank' %><br/>
<%= link_to 'Target',"http://www.target.com/wedd/registry/0acSPvLAtu7FM0RymeqaNA",:target => '_blank' %><br/>
<%= link_to 'Bed, Bath & Beyond',"http://www.bedbathandbeyond.com/regGiftRegistry.asp?wrn=-951955687&",:target => '_blank' %><br/>
</p>
