<!DOCTYPE html>
<html>
<head>
  <title>Stephen and Rebecca ~ 8-18-2012</title>
  <%= stylesheet_link_tag    "application" %>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
  <%= javascript_include_tag "application" %>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link href='http://fonts.googleapis.com/css?family=Linden+Hill:400italic,400' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33129582-1']);
  _gaq.push(['_setDomainName', 'stephenandrebeccaspalding.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
  <ul id="demo-block">
    <li><h1><%= link_to "Stephen and Rebecca", root_path %></h1></li>
    <li><%= link_to "r.s.v.p.",'rsvp' %> | 
        <%= link_to "our story", 'story' %> | 
        <%= link_to "directions", 'directions' %> | 
        <%= link_to 'gifts','gifts' %></li>
  </ul>

  <!--Arrow Navigation-->
  <a id="prevslide" class="load-item"></a>
  <a id="nextslide" class="load-item"></a>
  <div id="page-wrap">
<%= yield %>
  </div>
</body>
</html>
